@model RailwayCompany.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFirstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFirstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSecondname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSecondname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDatebirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDatebirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserContacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserContacts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserTicketNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserTicketNavigation.TicketId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
